Schema1.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"> 
<xs:complexType name="ArrayOfProductType"> 
<xs:sequence>
 <xs:element name="Product" type="ProductType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence> 
<xs:attribute name="Id" type="xs:integer" />
</xs:complexType> 
<xs:complexType name="ProductType">
 <xs:sequence> 
 <xs:element name="Id" type="xs:integer" minOccurs="0" />
<xs:element name="Name" type="xs:string" minOccurs="0" />
<xs:element name="Description" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="Price" type="xs:decimal" minOccurs="0" />
</xs:sequence>
</xs:complexType> <xs:element name="ArrayOfProduct" type="ArrayOfProductType" />
</xs:schema>
