Schema2.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"> 

<xs:complexType name="ArrayOfProductType"> 
<xs:sequence>
 <xs:element name="Product" type="ProductType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence> 

</xs:complexType> 

<xs:complexType name="ProductType">
 <xs:sequence> 

<xs:element name="Name" type="xs:string" minOccurs="0" />
<xs:element name="Description" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="Price" type="xs:decimal" minOccurs="0" />

<xs:element name="Origins" >

<xs:complexType > 

<xs:sequence> 

<xs:element name="Origin" minOccurs="1" maxOccurs="unbounded">

<xs:simpleType >
     
    <xs:restriction base="xs:string">
      <xs:enumeration value="Australia"/>
      <xs:enumeration value="Fiji"/>
      <xs:enumeration value="France"/>
      <xs:enumeration value="India"/>
      <xs:enumeration value="New Zealand"/>
      <xs:enumeration value="South Korea"/>
      <xs:enumeration value="Vietnam"/>
    </xs:restriction>
    
  </xs:simpleType>
  </xs:element>
  </xs:sequence> 
  
  </xs:complexType > 
  



</xs:element>
</xs:sequence>
<xs:attribute name="id" type="xs:positiveInteger" use="required"/>
</xs:complexType> 
<xs:element name="ArrayOfProduct" type="ArrayOfProductType" />
</xs:schema>